@font-face {
    font-family: Futura;
    src: url(fonts/Futura\ XBlk\ BT.ttf);
}
@font-face {
    font-family: Futura2;
    src: url(fonts/Futura\ Book\ font.ttf);
}
body{
    font-family: Futura;
    color:rgb(236, 159, 15);
}
.header{
    position: absolute;
    background-color: rgb(49, 69, 112);
    padding-bottom: 66px;
    left: 0;
    top: 0;
    width: 100%;
    right:100%;
    display:flexbox;
}
.hej {
    display: flex;
}
.logga {
    text-align: left;
    display: flexbox;
   margin-left: 107px;
    margin-top: -15px;
}
.footer {
position: absolute;
background-color: rgb(49, 69, 112);
left: 0;
color:rgb(236, 159, 15);
width: 100%;
font-size: 10px;
text-align: center;
padding: 18px 0;
margin-top: 40px;
left: 0;
bottom: 0;
display: flexbox;

}
a {
    color:rgb(236, 159, 15);
    text-decoration: none;
}
.links {
    text-align: right;
    padding-left: 100px;
    padding-top: 3px;
    padding-right: 100px;
    font-size: 10px;
    padding-top: -100;
    flex: 2 1 0%;
    display: inline;
}
.link {
    padding-left: 11px;
    padding-top: 3px;
}
.headertxt {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}
h3 {
    margin-top: 35px;
    font-size: 19px;
    margin-bottom: 0%;
}
p {
    font-family: Futura2;
    margin-top:2px;
    font-size: 11px;
    margin-bottom:4px;
}
button {
    width: 65px;
    font-size: 11px;
    border-radius: 4px;
    border: none;
    color:white;
    font-family: Futura2;
    background-color: #3882f6;
}
.gray {
    color: rgb(236, 159, 15);
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    width: 100%px;
    margin-top: 40px;
    display: flex;
}
.graybox {
    width: 100%;
    left: 0px;
    position:absolute;
    background-color: #E5E7EB;
    height: 200px;
    display: flexbox;
    text-align: center;
    margin-top: 500px;
    margin-bottom: 1000px;
    align-items: center;
    
}
.gp {
    margin-top:auto
    text-align:center;
    vertical-align: auto;
    padding: 70px;
}