@font-face {
    font-family: Futura;
    src: url(fonts/Futura\ XBlk\ BT.ttf);
}
@font-face {
    font-family: Futura2;
    src: url(fonts/Futura\ Book\ font.ttf);
}
body{
    font-family: Futura;
    color:rgb(236, 159, 15);
}
.header{
    position: absolute;
    background-color: rgb(49, 69, 112);
    padding-bottom: 80px;
    left: 0;
    top: 0;
    width: 100%;
    right:100%;
    display:flexbox;
    
}
.topbox{

align-items: center;
justify-content: center;

}
.topbox1 {
    margin-left: 850px;
height:250px;
width:500px;
margin-top:60px;
align-items: center;
justify-content: center;
vertical-align: middle;
display: inline-block;
padding: 1rem 1rem;

}
.topbox2 {
    height: 250px;
    width: 500px;: ;
    margin-top:80px;
    background-color:black;
    justify-content: space-between;
    text-align: right;
    align-items: right;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    background-size:cover;
    background-image: url('./images/ungdomskraft.avif');
    margin-left: 200px;
}
.hej {
    display: flex;
}
.logga {
    text-align: left;
    display: inline-block;
   margin-left: px;
    margin-top: -15px;
    width:180px;
    text-align: right;
    align-items: right;
    display: inline-block;
    vertical-align: middle;

}
.footer {
position: absolute;
background-color: rgb(49, 69, 112);
left: 0;
color:rgb(236, 159, 15);
width: 100%;
font-size: 10px;
text-align: center;
padding: 18px 0;
margin-top: 40px;
left: 0;
bottom: 0;
display: flexbox;

}
a {
    color:rgb(236, 159, 15);
    text-decoration: none;
}
.links {
    text-align: right;
    font-size: 20px;
    background-color: purple;
}
.link {
    padding-left: 11px;
    padding-top: 3px;
    justify-content: center;
vertical-align: top;
display: inline-block;
}
.linkar {
    align-items: center;
justify-content: center;
display:flex;
}
.headertxt {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}
h3 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 0%;
}
p {
    font-family: Futura2;
    margin-top:2px;
    font-size: 22px;
    margin-bottom:4px;
}
button {
    width: 105px;
    height: 28px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    color:white;
    font-family: Futura2;
    background-color: #3882f6;
    margin-top:8px;
}
.gray {
    color: rgb(236, 159, 15);
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    width: 100%px;
    margin-top: 40px;
    display: ;
}
.graybox {
    width: 100%;
    left: 0px;
    position:absolute;
    background-color: #E5E7EB;
    height: 200px;
    display: flexbox;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1000px;
    align-items: center;
    
}
.gp {
    margin-top:auto
    text-align:center;
    vertical-align: auto;
    padding: 70px;
}
.parentbluebox {
    margin-top: 370px;
    text-align: center;
    display: ;
    align-items: center;
    justify-content: center;
}
.bluebox {
    margin-top: 100px;
    height: 100px;
    padding: 16px;
    background: #00000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.blue {
    width: 60px;
    height: 60px;
    border: 4px solid #3882F6;
    background:rgb(255, 255, 255);

}
.hej {
    color: rgb(236, 159, 15);
    font-size 1000px:
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  
}
.hejbox {
      align-items: center;
    justify-content: center;
    display:;
    :auto
    margin-bottom: 10px;
}
.grandparent {
    
}