@font-face {
    font-family: Futura;
    src: url(fonts/Futura\ XBlk\ BT.ttf);
}
@font-face {
    font-family: Futura2;
    src: url(fonts/Futura\ Book\ font.ttf);
}
body{
    font-family: Futura;
    color:rgb(236, 159, 15);
}
.header{
    position: absolute;
    background-color: rgb(49, 69, 112);
    left: 0;
    top: 0;
    width: 100%;
    right:100%;
    display: flexbox;
    
}
.topbox{

align-items: center;
justify-content: center;

}
.topbox1 {
margin-left: 250px;
flex:1 2 auto;
height: 150px;
width:400px;
margin-top:-100px;
align-items: center;
justify-content: center;
vertical-align: middle;
display: inline-block;
padding: 1rem 1rem;
margin-bottom:-15px;
}
.topbox2 {
    height: 200px;
    width: 350px;
    margin-left: 150px;
    margin-top:25px;
    margin-bottom: 50px;
    background-color:black;
    justify-content: space-between;
    text-align: right;
    align-items: right;
    display: inline-block;
    vertical-align: middle;
    background-size:cover;
    background-image: url('./images/ungdomskraft.avif');

}
.hej {
    display: flex;
}
.logga {
    text-align: left;
    display: inline-block;
   margin-left: 250px;
    margin-top: -11px;
    width:180px;
    text-align: right;
    align-items: right;
    display: inline-block;
    vertical-align: middle;

}
.footer {
position: absolute;
background-color: rgb(49, 69, 112);
left: 0;
color:rgb(236, 159, 15);
width: 100%;
font-size: 10px;
text-align: center;
padding: 18px 0;
margin-top: 40px;
left: 0;
bottom: 0;
display: flexbox;

}
a {
    color:rgb(236, 159, 15);
    text-decoration: none;
}
.links {
    margin-top:-15px;
    margin-left:400px;
    text-align: right;
    font-size: 17px;
}
.link {
    padding-left: 11px;
    justify-content: center;
vertical-align: top;
display: inline-block;
}
.linkar {
    margin-top:-9px;
    align-items: center;
display:flex;
}
.headertxt {
    display: flex;
    flex-direction: column;

}
h3 {
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0%;
}
p {
    font-family: Futura2;
    margin-top:2px;
    font-size: 18px;
    margin-bottom:4px;
}
button {
    width: 105px;
    height: 28px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    color:white;
    font-family: Futura2;
    background-color: #3882f6;
    margin-top:8px;
    
}
.gray {
    color: rgb(236, 159, 15);
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    width: 100%px;
    margin-top:px;
    display: ;
}
.graybox {
    width: 100%;
    left: 0px;
    position:absolute;
    background-color: #E5E7EB;
    height: 260px;
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-top:-65px;
    align-items: center;
    justify-content: center;
    vertical-align: top;

    
}
.name {
    font-size:20px;
    color:black;
    vertical-align: bottom;
    margin-top: 80px;
}
.last {
    background-color: #3882f6;
height: 85px;
display: flexbox;
flex: 1 1 auto;
margin-left: 450px;
margin-right: 450px;
border-radius: 5px;
text-align: left;
margin-top: 250px;
margin-left: ;
margin-right: ;
justify-content: center;
vertical-align: auto;
align-items: center;
}
.lasth3 {
    align-items: center;
    justify-content: center;
    font-size:12px;
    color:rgb(217, 227, 241);
    margin-left: 80px;
    margin-top:25px ;
}
.lastp {
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: rgb(215, 228, 240);
    margin-left: 80px;
    margin-top: ;
}
.lastbutton {
    border: 2px white;
    height: 40px;
    width: 100px;
    background-color: #11dc47;
    width: 105px;
    height: 28px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    color:white;
    font-family: Futura2;
    margin-top:px;
    align-items: right;
    vertical-align: top;
    margin-left: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gp {
    margin-top:auto
    text-align:center;
    vertical-align: auto;
    padding: 70px;
}
.parentbluebox {
    margin-top: 380px;
    text-align: center;
    display: ;
    align-items: center;
    justify-content: center;
}
.bluebox {
    height: 100px;
    padding: 16px;
    padding-bottom: 150px;
    background: #00000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}
figcaption {
    font-size: 11px;
    font-family: Futura2;
}
.blue {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    background:rgb(255, 255, 255);
    border-radius: 6px;
    background-size:cover;
    background-image: url('./images/hej4-2.png');
}
.blue2 {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    background:rgb(255, 255, 255);
    border-radius: 6px;
    background-size:cover;
    background-image: url('./images/hej.png');
}
.blue3 {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    background:rgb(255, 255, 255);
    border-radius: 6px;
    background-size:cover;
    background-image: url('./images/hej.jpeg');
}
.blue4 {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    background:rgb(255, 255, 255);
    border-radius: 6px;
    background-size:cover;
    background-image: url('./images/hej3.png');
}
.hej {
    color: rgb(236, 159, 15);
    font-size: 25px;
    margin-top: 370px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  
}
.hejbox {
      align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.grandparent {
    
}